.table_of_title{
    font-size: 16px;
    width: 8vw;
    height: 2.5vw;
    background-color: 	#F5F5F5;
    border-bottom: 4px solid #BEBEBE;
    text-align: center;
}
.table_of_tr_odd{
    font-size: 16px;
    width: 5vw;
    height: 2.5vw;
    text-align: center;
}
.table_of_tr_even{
    font-size: 16px;
    width: 5vw;
    height: 2.5vw;
    background-color: #F0F8FF;
    text-align: center;
}
.table_input_even{
    outline: none;
    border: none;
    width: 5vw;
    text-align: center;
    background-color: #F0F8FF;
}
.table_input_odd{
    outline: none;
    width: 5vw;
    border: none;
    text-align: center;
}